Escape parameters when using x-www-form-urlencoded  

This is the recommended way of formatting the parameters when using x-www-form-urlencoded.

>This is the default content type. Forms submitted with this content type must be encoded as follows:
>
>1.- Control names and values are escaped. Space characters are replaced by `+`, and then reserved characters are escaped as described in [RFC1738], section 2.2: Non-alphanumeric characters are replaced by `%HH`, a percent sign and two hexadecimal digits representing the ASCII code of the character. Line breaks are represented as "CR LF" pairs (i.e., `%0D%0A`).
>
>2.-The control names/values are listed in the order they appear in the document. The name is separated from the value by `=` and name/value pairs are separated from each other by `&`.

[Link](http://www.w3.org/TR/html401/interact/forms.html)

More info: http://stackoverflow.com/questions/4007969/application-x-www-form-urlencoded-or-multipart-form-data

Escape & parameters

Spaces work well

Still not sure if this is my fault. Looks like there are a few reserved words.

Closing for now.